 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user" style="display: block">
    <div style="display: block">
      <h2>I'm expert on</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <p></p>
    </div>
    <div style="display: block">
      <h2>I already worked with</h2>
      <i class="devicon-webpack-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-express-plain colored"></i>
      <i class="devicon-sailsjs-plain colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain colored"></i>
      <i class="devicon-react-plain colored"></i>
      <i class="devicon-oracle-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-grunt-plain colored"></i>
      <i class="devicon-heroku-plain colored"></i>
    </div>
    <div style="display: block">
      <h2>Enthusiastic</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
    </div>
</div>
