<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/star-manager.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Github Star Manager </h3>
    <ul>
      <li> Angular </li>
    </ul>
    <p>This project is to you manage and organize your starred repositories.</p>
    <a class="project-link" href="https://github.com/brunocroh/star-manager">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/docker.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Reverse Proxy Load Balancer</h3>
    <ul>
      <li> Docker </li>
      <li> Apache HTTPD </li>
      <li> Apache Tomcat </li>
      <li> mod_jk </li>
    </ul>
    <p> Revese Proxy made with Httpd and Tomcat, running on docker containers</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
